body {
  font-family: Arial, serif;

  padding: 48px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 36px;
}

pre {
  overflow: auto;
  white-space: no-wrap;
  width: 100%;
}

code {
  /* font-family: Monaco, Courier, fixed; */
  background-color: #ccc;
  display: block;
  font-family: fixed;
  font-size: 24px;
  padding: 12px;
}
