<!doctype html>
<html>
  <head>
    <title>
      Release Control
    </title>

    <link rel="stylesheet" type="text/css" href="reset.css">
  </head>
  <body>
    <div id="template">
      <%= yield %>
    </div>
  </body>
</html>
